# Shamelessly taken from SO
# Please update as necessary

# ===================== #
# Unity Generated Stuff #
# ===================== #
project/Temp/*
project/Obj/*
project/UnityGenerated/*
project/Library/*
project/Assets/AssetStoreTools*
project/*_Data
project/*.exe

# ================== #
# OS Generated Stuff #
# ================== #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ====================== #
# LaTeX Generated Stuff  #
# ====================== #
docs/*.aux
docs/*.log
docs/*.synctex.gz
